@import '@/assets/scss/partials/variables.scss';
@import '@/assets/scss/partials/helpers.scss';

*,
*::before,
*::after {
  box-sizing: border-box !important;
  outline: none !important;
}

.dev {
  border: 1px solid tomato !important;
}

body {
  margin: 0;
  padding: 0;
  color: $text-color !important;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
  font-size: 13px !important;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity .5s;
}

.fade-enter,
.fade-leave-to
  {
  opacity: 0;
}