@import '@/assets/scss/partials/variables.scss';
@import '@/assets/scss/partials/helpers.scss';

*,
*::before,
*::after {
  box-sizing: border-box !important;
  outline: none !important;
}


body {
  margin: 0;
  padding: 0;
  // font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
  font-size: 13px !important;
  scroll-behavior: smooth;
}

// 
// Transitions
::-webkit-scrollbar {
  width: 8px;
  height: 5px;
}

::-webkit-scrollbar-track-piece {
  background-color: lightgrey;
}

::-webkit-scrollbar-thumb:vertical {
  height: 10px;
  background-color: darken($color: $wrapper-header-background-color, $amount: 10);
}

@for $i from 1 to 6 {
  h#{$i} {
    color: $header-color;
  }
}