{
  "tabWidth": 2,
  "useTabs": false,
  "singleAttributePerLine": true,
  "printWidth": 80,
  "trailingComma": "none",
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "htmlWhitespaceSensitivity": "ignore",
  "bracketSameLine": true,
  "singleQuote": true,
  "semi": false
}
