@import '@/assets/scss/partials/variables.scss';
@import '@/assets/scss/partials/helpers.scss';
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: $text-color;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
}

.container {
  padding: 25px 5px;
}

// Error with collapse component 
.el-collapse-item__header {
  display: flex;
}

.el-collapse-item__arrow,
.el-icon-arrow-right {
  float: none;
  display: flex;
  align-items: center;
}

.btn-large {
  width: 100%;
}

.container {
  padding: 0px 5px;
}

.symb-icon {
  padding: 10px;
  &:hover {
    cursor: pointer;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity .5s;
}

.fade-enter,
.fade-leave-to
/* .fade-leave-active below version 2.1.8 */
{
  opacity: 0;
}