// 
// Media query to include into classes
// 
@mixin media-screen-xsm {
  @media screen and (min-width: 320px) {
    @content;
  }
}

@mixin media-screen-sm {
  @media screen and (min-width: 480px) {
    @content;
  }
}

@mixin media-screen-md {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin media-screen-lg {
  @media screen and (min-width: 992px) {
    @content;
  }
}

@mixin media-screen-xlg {
  @media screen and (min-width: 1200px) {
    @content;
  }
}

// 
// Custom flex helpers
// 
%flex-container {
  display: flex;
}

.row {
  display: flex;
  flex-direction: row;
}

.row-v-center {
  @extend .row;
  align-items: center;
}

.row-h-center {
  @extend .row;
  justify-content: center;
}

.column {
  @extend %flex-container;
  flex-direction: column;
}

.column-v-center {
  @extend .column;
  justify-content: center;
}

.column-h-center {
  @extend .column;
  align-items: center;
}

.jc-around {
  justify-content: space-around;
}

.jc-between {
  justify-content: space-between;
}

.jc-start {
  justify-content: flex-start;
}

.jc-end {
  justify-content: flex-end;
}

.a-items-start {
  align-items: flex-start;
}

.a-items-stretch {
  align-items: stretch;
}

.a-items-end {
  align-items: flex-end;
}

.a-items-center {
  align-items: center;
}

.a-items-baseline {
  align-items: baseline;
}

.no-wrapp {
  flex-wrap: nowrap;
}

.wrapp {
  flex-wrap: wrap;
}

// Flex grow from 1 to 12, children
@for $v from 1 to 12 {
  .grow-#{$v} {
    flex-grow: #{$v}
  }
}

.dev {
  border: 1px dashed tomato;
}
.dev-blue {
  border: 1px dashed blue;
}
.dev-dark {
  border: 1px dashed black;
}
.dev-light {
  border: 1px dashed lightblue;
}

.dev-purple {
  border: 1px dashed purple;
}