
// Navbar
$wrapper-header-background-color: #0078d7;
$wrapper-header-front-color: #ffffff;
$navbar-height: 50px;

// Asides Left
$sidebar-background-color: #f7f7f7;
$sidebar-bg-color: #f5f5f5;

// Footer
$footer-padding: 10px;

$header-color: darken($color: $wrapper-header-background-color, $amount: 10);
$text-color: #707070;