$body-background-color-light: #FF3366;

$wrapper-header-background-color: #198dcf;

$main-aside-right-background-color: #011627;

$todos-background-color: rgba(140, 118, 182, 0.644);

$border-color: #C1C1C1;

$text-color: #707070;

// Navbar sizes
$navbar-height: 40px;

// Asides
// Left
$aside-left-width: 250px;
$aside-left-background-color: #f7f7f7;

// Right
$aside-right-width: 300px;
$aside-right-background-color: $aside-left-background-color;

// Main

// Footer
$footer-padding: 10px;
